@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
  scroll-behavior: smooth;
}
/* HOME */
#home{
  background-image: url(../img/backgrounds/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

#home .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;

}

#home .container #logo{
  margin-top: 270px;
}

#home .container h2{
  text-align: center;
  margin-top: 50px;
  line-height: 2;
  font-size: 50px;
  font-weight:400;
}

#home .container #mouseClick{
  margin-top: 200px;
  animation: bounce 2s infinite;

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}

/* ABOUT US */
#about-us{
  background-color: white;
  display: flex;
  align-items: center;

}

#about-us .about{
  width: 100%;
  text-align: center;
  padding-bottom: 2%;

  
  
}
#about-us .about h2{
  font-weight: bold;
  margin-top: 50px;

}

#about-us .about p{
  line-height: 2;
  font-size: 15px;


}



/* SERVICES */
#services{
  background-image: url(../img/backgrounds/s_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  
}

#services .service-box{
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 7%;
  padding-bottom: 7%;

  
  
}
#services .service-box h2{
  font-weight: bold;
}

#services .service-box p{
  line-height: 2;
  font-size: 17px;
 

}



/* WHAT WE DO */
#what-we-do{
  text-align: center;
  padding-top: 40px;
  
}

#what-we-do .row h2{
  font-weight: bold;
  padding-bottom: 38px;

}

#what-we-do .what-we-do-box .row p{
  font-size: 10px;

}

#design-text, #development-text, #product-text{
  display: none;
}


/* PORTFOLIO */

#portfolio{
  padding-bottom: 30px;
}

#portfolio h2{
  text-align: center;
  padding-top:40px;
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-left:15%;
  margin-right: 15%; 
}
.col-md-3{
  position: relative;
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}

.col-md-3 .solid-border{
  position: absolute;
  margin: 15px;
  height: 85%;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 33px !important;
  display: none;

}



#card8 .card8-box{
  margin: 15px;
  height: 100%;
  border: 3px solid white;
  /* filter: brightness(80%);
 */
}

#card8 .card8-box h1{
  color: white;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 33px !important;
}




/* CONTACT-US */
#contact-us{
  background-image: url(../img/backgrounds/c_image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

}


#contact-us .contact-box h2{
  font-weight: bold;
  text-align: center;  
  color: white;
  margin-top: 60px;

}

#contact-us .contact-box input{
  width: 47%;
  margin: 15px;
  background: transparent;
  border: 1px solid white;
  margin-bottom: 25px;
}

form{
  margin-top: 15px;

}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
}

textarea::placeholder{
  color: white;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;

}


#message{
  width: 96%;
  margin-left: 40px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  margin-bottom: 100px;


}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .social-icons{
  margin-top: 50px;
}

#footer .social-icons img{
  margin: 10px;
}

#footer .footer-text{
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}










